HOST=0.0.0.0
PORT=1338
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=tobemodified
SMTP_PASSWORD=tobemodified
SMTP_FROM_NAME="Strapi Admin"
SMTP_FROM_EMAIL=no-reply@example.com
# Used to build links inside notification emails
STRAPI_ADMIN_URL=http://localhost:1338
